@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.btn-primary {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  width: 120px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.btn-secondary {
  border-radius: 48px;
  background: #4ec5f7;
  width: 120px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

/* header styles */
header {
  /* background-image: url(./images/group-14.png); */
  /* padding: 30px 240px; */
}

/* navbar styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 240px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  color: #ff42a5;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo h3 {
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin-left: 30px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: #3c354f;
}

.follow-us {
  display: flex;
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  align-items: center;
  justify-content: center;
}

.follow-us span {
  font-size: 1rem;
  font-weight: 500;
  color: #3c354f;
}

.follow-us .youtube {
  width: 24px;
  margin-left: 10px;
  margin-top: 4px;
}

.follow-us .tiktok {
  width: 20px;
  margin-left: 5px;
  margin-top: 4px;
}

/* banner style */
.banner-section {
  background-image: url(./images/group-14.png);
  background-repeat: no-repeat;
  background-position: left;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 240px;
}

.banner img {
  height: 500px;
}

.banner-content {
  display: flex;
  flex-direction: column;
}

.banner-heading h3 {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
}

.banner-heading h2 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 800;
}

.banner-text {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.banner-button {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

/* funny videos section style */
.container {
  padding: 30px 240px;
  margin-top: 50px;
}

.funny-video-heading {
  text-align: center;
}

.funny-video-heading h3 {
  color: #0b0223;
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.funny-video-heading span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.funny-video-heading p {
  color: #534c64;
}

.video-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.video-card {
  position: relative;
  display: inline-block;
  margin-top: 30px;
}

.video-card img {
  width: 250px;
  display: block;
}

.video-card p {
  width: 250px;
  color: #534c64;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 13px;
  line-height: 20px;
}

.video-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  border-radius: 9px;
  background-color: rgba(0, 0, 0, 0.8); /* Black color with 50% opacity */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-card::after {
  content: '\f01d'; /* Play icon (Font Awesome) - You can replace this with your own icon */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 60px;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.watch-now-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f948b2;
  font-size: 1rem;
  font-weight: normal;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-card:hover::before,
.video-card:hover::after,
.video-card:hover .watch-now-text {
  opacity: 1;
}

/* play instantly section style */

.play-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.play-content {
  width: 50%;
  text-align: right;
  margin-right: 170px;
}
.play-content h3 {
  color: #0b0223;
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.play-content span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-content p {
  color: #534c64;
  font-size: 1rem;
}

.play-img {
  width: 50%;
  position: relative;
}

.img-box-1 {
  height: 500px;
}

.img-box-2 {
  height: 200px;
  position: absolute;
  top: 350px;
  right: 400px;
}

/* category section style */
.container2 {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin-top: 50px;
}
.catagory-section {
  height: 290px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 240px;
}

.catagory {
  width: 220px;
  height: 70px;
  border-radius: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 5px;
}

.catagory h4 {
  margin-left: auto;
  padding-right: 8px;
  font-size: 0.9rem;
  font-weight: 600;
}

.catagory:hover {
  border: 2px solid #f948b2;
}

/* footer styles */

/* responsive styles */
/* for mobile */
@media screen and (max-width: 425px) {
  /* navbar styles */
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  /* banner styles */
  .banner-section {
    background-image: none;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .banner img {
    order: 1;
    height: 400px;
  }

  .banner-content {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .banner-heading h3 {
    color: #0b0223;
    font-size: 2rem;
    font-weight: 600;
  }

  .banner-heading h2 {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 800;
  }

  /* funny videos section */
  .container {
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 30px;
  }

  .video-list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .funny-video-heading h3 {
    color: #0b0223;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .funny-video-heading p {
    color: #534c64;
    font-size: 0.8rem;
  }

  .video-card img {
    width: 290px;
    display: block;
  }

  .video-card p {
    width: 250px;
    color: #534c64;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 400;
    margin-top: 13px;
    margin-left: 20px;
    line-height: 20px;
  }

  /* play instantly section style */

  .play-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 50px; */
    margin: 10px 20px;
  }

  .play-content {
    width: 100%;
    text-align: center;
    margin-left: 170px;
  }
  .play-content h3 {
    color: #0b0223;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .play-content span {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .play-content p {
    color: #534c64;
    font-size: 1rem;
    margin-bottom: 50px;
  }

  .play-img {
    width: 50%;
    position: relative;
    margin-right: 60px;
  }

  .img-box-1 {
    height: 300px;
  }

  .img-box-2 {
    height: 150px;
    position: absolute;
    top: 180px;
    right: 90px;
  }

  /* category section style */
  .container2 {
    background: none;
    margin-top: 50px;
    width: 100%;
  }

  .catagory-section {
    height: 220px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }

  .catagory {
    width: 150px;
    height: 70px;
    border-radius: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .catagory h4 {
    margin-left: auto;
    padding-right: 8px;
    font-size: 0.7rem;
    font-weight: 500;
  }

  .catagory img {
    width: 30%;
  }

  .catagory:hover {
    border: 1px solid #f948b2;
  }
}

/* for tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {
  /* navbar styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
  }

  nav ul {
    display: flex;
    list-style: none;
    align-items: center;
  }

  nav ul li {
    margin-left: 30px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
  }

  .follow-us {
    display: flex;
    width: 200px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    align-items: center;
    justify-content: center;
  }

  .follow-us span {
    font-size: 0.9rem;
    font-weight: 500;
    color: #3c354f;
  }

  .follow-us .youtube {
    width: 18px;
    margin-left: 10px;
    margin-top: 4px;
  }

  .follow-us .tiktok {
    width: 18px;
    margin-left: 5px;
    margin-top: 4px;
  }

  .banner-section {
    background-image: none;
  }

  /* banner styles */
  .banner {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }

  .banner img {
    height: 350px;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .banner-heading h3 {
    color: #0b0223;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .banner-heading h2 {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 800;
  }

  /* funny videos section */
  .container {
    padding: 10px 20px;
    /* margin-top: 50px; */
    margin: 30px 50px;
  }

  .video-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .funny-video-heading h3 {
    color: #0b0223;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .funny-video-heading p {
    color: #534c64;
    font-size: 0.9rem;
  }

  .video-card img {
    width: 290px;
    display: block;
  }

  .video-card p {
    width: 250px;
    color: #534c64;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 400;
    margin-top: 13px;
    margin-left: 20px;
    line-height: 20px;
  }

  /* play instantly section style */

  .play-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 50px; */
    margin: 10px 20px;
  }

  .play-content {
    width: 100%;
    text-align: center;
    margin-left: 170px;
  }
  .play-content h3 {
    color: #0b0223;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .play-content span {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .play-content p {
    color: #534c64;
    font-size: 1rem;
    margin-bottom: 50px;
  }

  .play-img {
    width: 50%;
    position: relative;
    margin-right: 10px;
  }

  .img-box-1 {
    height: 300px;
  }

  .img-box-2 {
    height: 150px;
    position: absolute;
    top: 180px;
    right: 90px;
  }
  /* category section style */
  .container2 {
    background: none;
    margin-top: 50px;
  }

  .catagory-section {
    height: 220px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }

  .catagory {
    width: 190px;
    height: 70px;
    border-radius: 50px;
    background: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0px;
  }

  .catagory h4 {
    margin-left: auto;
    padding-right: 8px;
    font-size: 0.7rem;
    font-weight: 500;
  }

  .catagory img {
    width: 30%;
  }

  .catagory:hover {
    border: 1px solid #f948b2;
  }
}
