@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* shared styles */

/* header styles */
header {
  padding: 38px 240px;
}

/* navbar styles */
.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  color: #ff42a5;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo h3 {
  font-size: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin-left: 30px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: #3c354f;
}

.follow-us {
  display: flex;
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  align-items: center;
  justify-content: center;
}

.follow-us span {
  font-size: 1rem;
  font-weight: 500;
  color: #3c354f;
}

.follow-us .youtube {
  width: 24px;
  margin-left: 10px;
  margin-top: 4px;
}

.follow-us .tiktok {
  width: 20px;
  margin-left: 5px;
  margin-top: 4px;
}

/* banner style */

/* funny videos section style */

/* play instantly section style */

/* category section style */

/* footer styles */

/* responsive styles */
/* for mobile */
@media screen and (max-width: 576px) {
}

/* for tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
}
