@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* shared styles */

/* navbar styles */

/* banner style */

/* funny videos section style */

/* play instantly section style */

/* category section style */

/* footer styles */
